<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
<script>
//獲取設備ＩＤ
var getUrlString = location.href;
var url = new URL(getUrlString);
var getVideoID = url.searchParams.get('videoValue');
var getAudioID = url.searchParams.get('audioValue');
console.log(url.searchParams.get('videoValue'));
</script>
</html>